@import url('./subBar.css');
@import url('./navBar.css');

body{
    background-image: url('../images/indexBackGround.jpg');
    background-size: cover;
    height: 100vh;
}

.wrap{
    height: 100vh;
    /* background-color: blue; */
    overflow: auto;
}